<!-- Page Content -->
<h2></h2>
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= photo.photoTitle%> put rating here as well as amount of rating</h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active"><%= photo.photoTitle%></li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8">
                <div class="item">
                    <img class="img-responsive" src="<%= photo.imageUrl %>" alt="">
                </div>
             </div>
            <div class="col-md-4">
                <h4>Author</h4>
                <p><%= usuario.name%></p>
                <p>usuario autor   <%= usuario._id%></p>
                <p>cuenta req.user <%= user._id%></p>
                
                <h4>Year</h4>
                <p><%= photo.yearTaken%></p>

                <h3>About this picture </h3>
                <p><%= photo.description%></p>
                <!--CHECK THIS why i can not use id below but name is ok-->
                  <% if (user.username === usuario.username) { %>
                
                 <p><%=user._id%></p>
               <button class="btn btn-lg btn-warning btn-block">edit</button>
                <form method="post" action="/photo/<%= photo._id %>/delete">
              <button class="btn btn-lg btn-danger btn-block">Delete</button>
               </form>
               
               <% } %>
                
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Related Projects Row -->
        <div class="row">
        <div class="col-lg-12">
                <a href="/photos/<%= photo._id %>/reviews/new"><h3 class="page-header">Review this Picture</h3></a>
            </div>
        </div>

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Community Photos</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>
        <h3> User Reviews </h3>

<ul>
  <% photo.reviews.forEach((oneReview) => { %>
    <li>
      <p> <%= oneReview.content %> </p>
      <p><%= oneReview.stars %> ⭐️       out of 5 </p>
      <strong> <%= oneReview.author %> </strong>
    </li>
  <% }) %>
</ul>




