<h2>Photo details photodetail.ejs</h2>
<div>
    <h3><%= photo.photoTitle%></h3>
    <h3>Reviews</h3>
    <ul>
        <% photo.reviews.forEach((oneReview,index)=>{ %>
            <li>
            <% index + 1 %>
            <p><% index + 1 %></p>
            <p><%= oneReview.content%> </p>
            <p><%= oneReview.stars%>  out of 5</p>
            <p><%= oneReview.author%> </p>
            </li>
        <% }) %>
    </ul>

    <div class="row">
        <div class="col-md-6">
        <img class="img-responsive" src="<%= photo.imageUrl %>" alt="">
        </div>
    </div>
    <div class="row">
    <div class="col-md-6">
    <h3><a href="/photos/<%= photo._id %>/reviews/new">Review this product</a></h3>
     </div>
    </div>

</div>